.UserCard-base {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #b2b2b2;
	cursor: pointer;
}
.UserCard-base:hover {
	background: #e6e6e6;
}
.UserCard-image {
	width: 50px;
	height: 50px;
}
.UserCard-userInfo {
	width: calc(100% - 50px);
	height: auto;
	padding-left: 20px;
	text-align: left;
}
.UserCard-name {
	height: auto;
	width: auto;
	color: #2d2d2d;
	font-size: 16px;
	line-height: 22px;
}
.UserCard-email {
	height: auto;
	width: auto;
	color: #7d7d7d;
	font-size: 16px;
	line-height: 22px;
	margin-top: 3px;
}
