.UserDetails-base {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 50px 0px;
  }
.UserDetails-wrapper{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    background: #fff;
    border-radius: 10px;
    padding-bottom: 40px;
}
.UserDetails-image {
    width: 200px;
    height: 200px;
  }
  .UserDetails-user{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .UserDetails-name{
    height: auto;
    width: auto;
    color: #2d2d2d;
    font-size: 26px;
    line-height: 30px;
    font-weight:bold;
  }
  .UserDetails-email{
    height: auto;
    width: auto;
    color: #000080;
    font-size: 16px;
    line-height: 22px;
    margin-top:3px;
    font-weight:bold;
    cursor: pointer;
  }
  .UserDetails-userInfo{
    width:100%;
    height: auto;
    padding-top:20px;
  }